Awakens/Awakens.sdf
Awakens/Awakens.opensdf
Awakens/.vs/
Awakens/ipch/
Awakens/x64/
Awakens/Debug/
Awakens/Release/
*.diagsession
*.user

Experiment/D12Engine/MiniEngine/Engine/Engine_VS14.VC.db
Experiment/D12Engine/MiniEngine/Build_VS14/x64/Awakens.sdf
Experiment/D12Engine/MiniEngine/Build_VS14/x64/Awakens.opensdf
Experiment/D12Engine/MiniEngine/Build_VS14/x64/.vs/
Experiment/D12Engine/MiniEngine/Build_VS14/x64/ipch/
Experiment/D12Engine/MiniEngine/Build_VS14/x64
Experiment/D12Engine/MiniEngine/Build_VS14/x64/Debug/
Experiment/D12Engine/MiniEngine/Build_VS14/x64/Release/
Experiment/D12Engine/MiniEngine/Build_VS14/x64/Profile/



Experiment/D12Engine/MiniEngine/Engine/Engine_VS14.VC.db
Experiment/D12Engine/MiniEngine/ModelConverter/assimp-3.1.1-win-binaries/*
Experiment/D12Engine/MiniEngine/ModelConverter/assimp-3.3.1/*

Experiment/D12Engine/MiniEngine/Engine/Engine_VS14.VC.db
*.bak
Experiment/D12Engine/MiniEngine/Engine/Engine_VS14.VC.db
Experiment/D12Engine/MiniEngine/Engine/Engine_VS14.VC.db
